#!/usr/bin/env bash

INSTALLDIR="/home/user/GTR2" # Where you installed the game, linux path
USER="User" # Your in-game profile name
AUXDIR="/home/user/linux_simracing/GTR2" # Where you cloned this repository into
